{{extend 'layout.html'}}

{{block head}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script>
    var get_user_and_email_url = "{{=URL('api', 'get_author_and_email', user_signature=True)}}";
    var get_more_posts_url = "{{=URL('api', 'get_posts')}}";
    var add_post_url = "{{=URL('api', 'add_post', user_signature=True)}}";
    var del_post_url = "{{=URL('api', 'del_post', user_signature=True)}}";
    var update_post_url = "{{=URL('api', 'update_post', user_signature=True)}}";
</script>
{{end}}

<div class="main_content">
<img src="https://scontent.fsnc1-2.fna.fbcdn.net/v/t34.0-12/15300743_10211495867379204_812909456_n.png?oh=d654b42219be5441ac1b38212461581f&oe=58439200"   width="200px">
    <div class="post_list"><h3>UCSC CMPS 183</h3></div>

    <div ><p>Is CMPS 183 a bit too much to take for my first quarter? self.
Title pretty much says it all. I plan on taking Math 19B, CMPE 16, and CMPS 183 my first quarter and didn't want to overload my self.</p>
    </div>

    <br/>
    <br/>
    <div id="vue-div" class="display:none">

    {{if auth.user_id:}}
        <!--ADD POST BUTTON-->
        <div class="text-right">
            <button v-if="add_post_button.display"
                    class="btn btn-primary btn-lg"
                    v-on:click="button_toggle(add_post_button);
                                clear_form();
                                disable_edit();
                                action(0);"> <!--action 0 refers to add-->
            {{=icon_add}} Add new post
            </button>
            <button v-if="!add_post_button.display"
                    class="btn btn-warning btn-lg"
                    v-on:click="button_toggle(add_post_button);
                                clear_form();
                                enable_edit();">
            {{=icon_cancel}} Cancel
            </button>
        </div>


        <form id="add-new-post" v-on:submit.prevent="add_or_edit(); enable_edit();" action="#"
              enctype="multipart/form-data" method="post"
              v-if="!add_post_button.display">



            <div class="form-group text-right" id="submit_record__row">

                <span class="help-block"></span>
            </div>
            <div class="form-group" id="post_post_title__row">


                <span class="help-block"></span>
            </div>
            <div class="form-group" id="post_post_content__row">
                <label class="control-label" for="post_post_content"
                       id="post_post_content__label">
                    Please Enter Your Post </label>
                <textarea v-model="form_content" class="form-control" rows="3" cols="40" id="post_post_content"
                          name="post_content"
                          rows="10"></textarea>
                <span class="help-block"></span>
            <input class="btn btn-primary btn-lg post-button mybtn-width" type="submit" value="Post"/>
            </div>
        </form>
    {{pass}}



        <div class="post_list">
            <div v-for="p in posts" class="post text-left">
                <post :post="p"
                      :user_email="user_email"
                      :edit_post="edit_post"
                      :clear_form="clear_form"
                      :editing="editing"
                      :action="action"
                      :delete_post="delete_post"
                      :add_post_button="add_post_button"></post>
            </div>
        </div>
        <div v-if="has_more" >
            <button id="load_more" class="btn btn-primary btn-lg" v-on:click="get_more()">Load more</button>

        </div>
<br/>
        <br/>

    </div>
</div>

</div>

<script src="{{=URL('static', 'js/default_index.js')}}"></script>

